<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<!-- 회원가입 정보 입력 insert구문 -->
	<insert id ="join">
		insert into member(id,name,password,mail,mailSend,zip,address,phone,sms,tel,birth,lunarSolar) values(#{id},#{name},#{password},#{mail},#{mailSend},#{zip},#{address},#{phone},#{sms},#{tel},#{birth},#{lunarSolar})
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id = "findId" resultType = "com.koitt.jardin.dto.member.MemberDTO">
		select id from member where name = #{name}, email = #{email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id = "findPw" resultType = "com.koitt.jardin.dto.member.MemberDTO">
		select password from member where id = #{id}, email = #{email}
	</select>
</mapper>