<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community">
	<select id="exprReview" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * from preuser where preUserNo=#{preUserNo}
	</select>
	
<!-- 	체험단 글 보기 뷰-->
	<select id="exprView" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * from preuser where preuser_no=#{preuser_no}
	</select>
<!-- 	체험단 신청 글 쓰기 -->
	<insert id="preUserReview" >
	insert into preuserReview 
	</insert>
	
	<insert id="preUserApply" >
	insert into preuser_apply values(PREUSER_APPLY_SEQ.nextval,#{preuser_no},#{id},#{title},#{content})
	</insert>

	
	<select id="epilogueView" resultType="com.koitt.jardin.dto.product.ReviewDTO">
	select * from review where review_no=#{review_no}
	</select>
	
	
	<!-- 인조이 커피 글 리스트-->
	 <select id="enjoyCoffee" resultType="com.koitt.jardin.dto.community.EnjoyCoffDTO">
   		select * from enjoy_coffee
   	 </select>
   	 <!-- 인조이 커피 글 보기 -->
   	  <select id="enjoyView" resultType="com.koitt.jardin.dto.community.EnjoyCoffDTO">
   		select * from enjoy_coffee where no=#{no}
   	 </select>
   	 
   	 
<!-- 체험단 페이징 -->
   	 <!-- 페이징 게시글 수 -->
	<select id="exprPageNation" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser 
	</select>
	 <!-- 체험단 전체 검색 게시글 수 -->
	<select id="exprPageNationTo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser  where  title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 	
	</select>
	 <!-- 체험단 제목 제목검색 게시글 수 -->
	<select id="exprPageNationTi" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser  where  title like '%'|| #{search}||'%' 	
	</select>
	 <!-- 체험단 내용 내용검색 게시글 수 -->
	<select id="exprPageNationCo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser  where  content like '%'|| #{search}||'%' 	
	</select>

   
   <!-- 체험단 페이징 글 리스트 가져오기 -->
	<select id="exprPageNationList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- 체험단 전체 검색 글 리스트 가져오기 -->
   <select id="exprPageNationToList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser where title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%'
       order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- 체험단 제목 검색 글 리스트 가져오기 -->
   <select id="exprPageNationTiList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser where title like '%'|| #{search}||'%'
       order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- 체험단 내용 검색 페이징 글 리스트 가져오기 -->
   <select id="exprPageNationCoList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser where content like '%'|| #{search}||'%'
       order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>	
   

 <!-- enjoy 페이징,검색 -->
   	 <!-- enjoy 전체 게시글 수 -->
	<select id="enjoyPageNation" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from enjoy_coffee 
	</select>
	 <!-- enjoy 전체 검색 게시글 수 -->
	<select id="enjoyPageNationTo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from enjoy_coffee where  title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 	
	</select>
	 <!-- enjoy 제목 제목검색 게시글 수 -->
	<select id="enjoyPageNationTi" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from enjoy_coffee where  title like '%'|| #{search}||'%' 	
	</select>
	 <!-- enjoy 내용 내용검색 게시글 수 -->
	<select id="enjoyPageNationCo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from enjoy_coffee where  content like '%'|| #{search}||'%' 	
	</select>

	<!-- enjoy페이징 글 리스트 가져오기 -->
	<select id="enjoyPageNationList" resultType="com.koitt.jardin.dto.community.EnjoyCoffDTO">
		select * 
      from(select row_number() over(order by no desc) as rnum, no,title,content,thumbnail,hit,
      upload_date from enjoy_coffee order by no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- enjoy 전체 검색 글 리스트 가져오기 -->
   <select id="enjoyPageNationToList" resultType="com.koitt.jardin.dto.community.EnjoyCoffDTO">
		select * 
      from(select row_number() over(order by no desc) as rnum, no,title,content,thumbnail,hit,
      upload_date from enjoy_coffee where title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%'
       order by no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- enjoy 제목 검색 글 리스트 가져오기 -->
   <select id="enjoyPageNationTiList" resultType="com.koitt.jardin.dto.community.EnjoyCoffDTO">
		select * 
      from(select row_number() over(order by no desc) as rnum, no,title,content,thumbnail,hit,
      upload_date from enjoy_coffee where title like '%'|| #{search}||'%'
       order by no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- enjoy 내용 검색 페이징 글 리스트 가져오기 -->
   <select id="enjoyPageNationCoList" resultType="com.koitt.jardin.dto.community.EnjoyCoffDTO">
		select * 
      from(select row_number() over(order by no desc) as rnum, no,title,content,thumbnail,hit,
      upload_date from enjoy_coffee where content like '%'|| #{search}||'%'
       order by no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>	
   
 <!-- epilogue 페이징,검색 -->
   	 <!-- epilogue 전체 게시글 수 -->
	<select id="epiloguePageNation" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review where thumbnail is not null
	</select>
	 <!-- epilogue 전체 검색 게시글 수 -->
	<select id="epiloguePageNationTo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review  where thumbnail is not null and title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 	
	</select>
	 <!-- epilogue 제목 제목검색 게시글 수 -->
	<select id="epiloguePageNationTi" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review  where thumbnail is not null and  title like '%'|| #{search}||'%' 	
	</select>
	 <!-- epilogue 내용 내용검색 게시글 수 -->
	<select id="epiloguePageNationCo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review  where thumbnail is not null and content like '%'|| #{search}||'%' 	
	</select>

	<!-- epilogue페이징 글 리스트 가져오기 -->
	<select id="epiloguePageNationList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">
		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail
      from review where thumbnail is not null order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- epilogue 전체 검색 글 리스트 가져오기 -->
   <select id="epiloguePageNationToList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">

		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail 
      from review where thumbnail is not null and title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 
       order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10

   </select>
   
   <!-- epilogue 제목 검색 글 리스트 가져오기 -->
   <select id="epiloguePageNationTiList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">
		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail 
      from review  where thumbnail is not null and title like '%'|| #{search}||'%'
       order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- epilogue 내용 검색 페이징 글 리스트 가져오기 -->
   <select id="epiloguePageNationCoList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">
		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail 
      from review  where thumbnail is not null and content like '%'|| #{search}||'%'
       order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>   
 
   <!-- comment 페이징,검색 -->
<!--    	 comment 전체 게시글 수 -->
	<select id="commentPageNation" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review where thumbnail is null
	</select>
	 <!-- comment 전체 검색 게시글 수 -->
	<select id="commentPageNationTo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review  where thumbnail is null and title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 	
	</select>
	 <!-- comment 제목 제목검색 게시글 수 -->
	<select id="commentPageNationTi" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review  where thumbnail is null and title like '%'|| #{search}||'%' 	
	</select>
	 <!-- comment 내용 내용검색 게시글 수 -->
	<select id="commentPageNationCo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from review  where thumbnail is null and content like '%'|| #{search}||'%' 	
	</select>

	<!-- comment페이징 글 리스트 가져오기 -->
	<select id="commentPageNationList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">
		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail
      from review where thumbnail is null order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- comment 전체 검색 글 리스트 가져오기 -->
   <select id="commentPageNationToList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">

		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail 
      from review where thumbnail is null and title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 
       order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10

   </select>
   
   <!-- epilogue 제목 검색 글 리스트 가져오기 -->
   <select id="commentPageNationTiList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">
		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail 
      from review  where thumbnail is null and title like '%'|| #{search}||'%'
       order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- comment 내용 검색 페이징 글 리스트 가져오기 -->
   <select id="commentPageNationCoList" resultType="com.koitt.jardin.dto.community.EpilogueDTO">
		select * 
      from(select row_number() over(order by review_no desc) as rnum, review_no,product_no,id,title,content,review_date,hit,grade,thumbnail 
      from review  where thumbnail is null and content like '%'|| #{search}||'%'
       order by review_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   	 
</mapper>