<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="expr">

<select id="exprReview" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * from preuser where preuser_no=#{preuser_no}
	</select>
	
	
<!-- 	체험단 글 보기 뷰-->
	<select id="exprView" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * from preuser where preuser_no=#{preuser_no}
	</select>
<!-- 	체험단 신청 글 쓰기 -->
	<insert id="preUserReview" >
	insert into preuser_review values(preuser_review_seq.nextval,#{preuser_no},#{preUserReviewImage},#{grade},#{title},#{content},0,sysdate) 
	</insert>
	
	<insert id="preUserApply" >
	insert into preuser_apply values(PREUSER_APPLY_SEQ.nextval,#{preuser_no},#{id},#{title},#{content})
	</insert> 


<!-- 체험단 페이징 -->
   	 <!-- 페이징 게시글 수 -->
	<select id="exprPageNation" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser 
	</select>
	 <!-- 체험단 전체 검색 게시글 수 -->
	<select id="exprPageNationTo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser  where  title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%' 	
	</select>
	 <!-- 체험단 제목 제목검색 게시글 수 -->
	<select id="exprPageNationTi" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser  where  title like '%'|| #{search}||'%' 	
	</select>
	 <!-- 체험단 내용 내용검색 게시글 수 -->
	<select id="exprPageNationCo" resultType="com.koitt.jardin.dto.page.PageNationDTO">
		select count(*) listCnt from preuser  where  content like '%'|| #{search}||'%' 	
	</select>

   
   <!-- 체험단 페이징 글 리스트 가져오기 -->
	<select id="exprPageNationList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- 체험단 전체 검색 글 리스트 가져오기 -->
   <select id="exprPageNationToList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser where title like '%'|| #{search}||'%' or content like '%'|| #{search}||'%'
       order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- 체험단 제목 검색 글 리스트 가져오기 -->
   <select id="exprPageNationTiList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser where title like '%'|| #{search}||'%'
       order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   
   <!-- 체험단 내용 검색 페이징 글 리스트 가져오기 -->
   <select id="exprPageNationCoList" resultType="com.koitt.jardin.dto.community.PreUserDTO">
		select * 
      from(select row_number() over(order by preuser_no desc) as rnum,preuser_no,title,content,thumbnail,personnel,apply_start_date,apply_end_date,review_start_date,
                     review_end_date,announcement_date,grade from preuser where content like '%'|| #{search}||'%'
       order by preuser_no desc)
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>	
</mapper>
