<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	
	<select id="list" resultType="com.koitt.jardin.dto.product.ProductDTO">

	select * from product
			
	</select>
	
	<select id="categoryList" resultType="com.koitt.jardin.dto.product.ProductDTO">
	
	select * from product where category1=#{category1} and category2=#{category2}
	
	</select>
	
	
	<select id="detail" resultType="com.koitt.jardin.dto.product.ProductDTO">
	
	select * from product where product_no=#{product_no}
	
	</select>
	
	<select id="SubCategoryDto" resultType="com.koitt.jardin.dto.product.SubCategoryDto">
	
	select * from sub_category where sub_category_code=#{sub_category_code}
	
	</select>
	
	<select id="subCategoryList" resultType	="com.koitt.jardin.dto.product.SubCategoryDto">
	
	select * from sub_category

	</select>
	
	<select id="productInfoDto" resultType="com.koitt.jardin.dto.product.ProductInfoDTO">
	
	select * from product_info where product_no=#{product_no}
	
	</select>
	
	<insert id="inquiry">
	
	
	</insert>
	
	
	<insert id="photo">
	
	
	
	</insert>
	
	<insert id='review'>
	
	insert into review()
	
	</insert>
	
	<select id="search" resultType="com.koitt.jardin.dto.product.ProductDTO">
	
	
	</select>
	
	
	
	
</mapper>