<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

<!--공지사항 글 리스트 가져오기 -->
	<select id="notice" resultType="com.koitt.jardin.dto.board.NoticeDTO">
		select * from notice
	</select>

<!--공지사항 글 보기 -->
	<select id="noticeView" resultType="com.koitt.jardin.dto.board.NoticeDTO">
		select * from notice where No=#{No}
	</select>
	
	<update id="noticeViewHit">
	update notice set Hit=Hit+1 where No=#{no}
	</update>
	
	
	<select id="noticeSearchT"   resultType="com.koitt.jardin.dto.board.NoticeDTO">
		select * from notice where title like '%'||#{search}||'%'
	</select>
	<select id="noticeSearchC"  resultType="com.koitt.jardin.dto.board.NoticeDTO">
		select * from notice where content like '%'||#{search}||'%'
	</select>

<!--1:1문의 글 쓰기 -->
	<insert id="inquiry">
		insert into question
	</insert>

<!--FAQ 글 리스트 가져오기 -->
	<select id="faq" resultType="com.koitt.jardin.dto.board.FaqDTO">
		select * from FAQ order by no desc 
	</select>
	<!--FAQ 회원가입 글 리스트 가져오기 -->
	<select id="faqJoin" resultType="com.koitt.jardin.dto.board.FaqDTO">
		select * from faq  where category='회원가입' order by no
	</select>
	<!--FAQ 상품 글 리스트 가져오기 -->
	<select id="faqProduct" resultType="com.koitt.jardin.dto.board.FaqDTO">
		select * from faq  where category='상품' order by no
	</select>
	<!--FAQ 주문 글 리스트 가져오기 -->
	<select id="faqOrder" resultType="com.koitt.jardin.dto.board.FaqDTO">
		select * from faq  where category='주문' order by no
	</select>
	<select id="faqSearch" resultType="com.koitt.jardin.dto.board.FaqDTO">
		select * from faq where title like '%'|| #{search}||'%'
	</select>
	

<!--이용안내 글 가져오기 -->
	<select id="guide" resultType="com.koitt.jardin.dto.board.GuideDTO">
		select * from guide
	</select>
	
	<select id="pageNation" resultType="com.koitt.jardin.dto.board.PageNationDTO">
		select count(*) listCount from notice
	</select>
	
	
	<!-- 공지사항 페이지 네이션! -->
	<select id="pageNationList" resultType="com.koitt.jardin.dto.board.PageNationDTO">
		select * 
      from(
               select row_number() over(order by b_no desc) as rnum, 
                     no,title,content,hit from board order by no desc
          )
      where rnum between #{curPage}*10-9 and #{curPage}*10
   </select>
   >
  

</mapper>