<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="event">

	<select id="eventList" resultType="com.koitt.jardin.dto.event.EventDTO">
	
		select * from event order by event_no desc
	
	</select>
	
	<select id="eventView" resultType="com.koitt.jardin.dto.event.EventDTO">
	
	select * from event where event_no=#{event_no}
	</select>
	
	<select id="eventComment" resultType="com.koitt.jardin.dto.event.EventCommentDto">
	
	select * from event_comment where event_no=#{event_no}
	
	</select>
	
	<insert id="eventCommentWrite">
	
	insert into event_comment(comment_no,event_no,comment_content,secret,id) values(event_seq.nextval,#{event_no},#{comment_content},1,#{id})
	
	</insert>
	
	<delete id="eventCommentDelete">
	
	delete from event_comment where comment_no=#{comment_no}
	
	</delete>
	
	
	<select id="eventCommentModifyView" resultType="com.koitt.jardin.dto.event.EventCommentDto">
	
	select * from event_comment where comment_no=#{comment_no}
	
	</select>
	
	
	<update id="eventCommentModify">
	
	update event_comment set comment_content=#{comment_content} where comment_no = ${comment_no} 
	
	</update>
	
	
	<select id="prizeWinner" resultType="com.koitt.jardin.dto.event.WinnerDTO">
	
	select * from winner
	
	
	</select>
	
	<select id="prizeWinnerView" resultType="com.koitt.jardin.dto.event.WinnerDTO">
	
	
	select * from winner where no=#{no}
	
	</select>
	
	<update id="upHit">
	
	update winner set hit=hit+1 where no=#{no}
	
	</update>
	
	<select id="eventSearchT" resultType="com.koitt.jardin.dto.event.EventDTO">
	
	select * from event where title like '%'||#{search}||'%'
	
	</select>
	
	<select id="eventSearchC" resultType="com.koitt.jardin.dto.event.EventDTO">
	
	select * from event where content like '%'||#{search}||'%'
	
	</select>
	<!-- 진행중 이벤트 이전글 -->
	<select id="eventViewPre"  resultType="com.koitt.jardin.dto.event.EventDTO">
	<![CDATA[select * from event where event_no=(select max(event_no) from (select * from event where event_no < #{event_no} and end_date > sysdate)) ]]>

	</select>
	<!-- 진행중 이벤트 다음글 -->
	<select id="eventViewNext"  resultType="com.koitt.jardin.dto.event.EventDTO">
	<![CDATA[select * from event where event_no=(select min(event_no) from (select * from event where event_no > #{event_no} and end_date > sysdate)) ]]>
	
	</select>
	<!-- 종료된 이벤트 이전글 -->
	<select id="finEventViewPre"  resultType="com.koitt.jardin.dto.event.EventDTO">
	<![CDATA[select * from event where event_no=(select max(event_no) from (select * from event where event_no < #{event_no} and end_date > sysdate)) ]]>

	</select>
	<!-- 종료중 이벤트 다음글 -->
	<select id="finEventViewNext"  resultType="com.koitt.jardin.dto.event.EventDTO">
	<![CDATA[select * from event where event_no=(select min(event_no) from (select * from event where event_no > #{event_no} and end_date > sysdate)) ]]>
	
	</select>
	
</mapper>